/java/Ejercicios/nbproject/private/
/java/Ejercicios/build/
/java/Ejercicios/src/Ejercicios4EnClase/
/java/Ejercicios/src/Otros1
/java-poo/Ejercicios2DeAprendizaje/build/
/java-poo/Ejercicios2DeAprendizaje/nbproject/private/
/java-poo/Ejercicios3Extra/nbproject/private/
/java-poo/Ejercicios3Extra/build/
/java-poo/ActividadExtra1/nbproject/private/
/java-poo/ActividadExtra1/build/
/java-poo/borrame/nbproject/private/
/java-poo/borrame/build/
/java-poo/JavaApplication52/nbproject/private/
/java-poo/ActividadExtra2/nbproject/private/
/java-poo/ActividadExtra2/build/