/java/Ejercicios/nbproject/private/
/java/Ejercicios/build/
/java/Ejercicios/src/Ejercicios4EnClase/
/java/Ejercicios/src/Otros1
/java-poo/Ejercicios3Extra/nbproject/private/
/java-poo/Ejercicios3Extra/build/